@model zrak.Models.TicTacToeModel

<div class="text-center margin-top-10">
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="0" asp-route-id="@Model.Id">@Model.BoardSpaces[0, 0]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="1" asp-route-id="@Model.Id">@Model.BoardSpaces[0, 1]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="2" asp-route-id="@Model.Id">@Model.BoardSpaces[0, 2]</a>
    <br />
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="3" asp-route-id="@Model.Id">@Model.BoardSpaces[1, 0]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="4" asp-route-id="@Model.Id">@Model.BoardSpaces[1, 1]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="5" asp-route-id="@Model.Id">@Model.BoardSpaces[1, 2]</a>
    <br />
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="6" asp-route-id="@Model.Id">@Model.BoardSpaces[2, 0]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="7" asp-route-id="@Model.Id">@Model.BoardSpaces[2, 1]</a>
    <a style="height: 40px; width: 40px; margin-top: 5px; margin-bottom: 5px" asp-action="ChangeSpace" asp-controller="TicTacToe" class="btn btn-outline-dark" asp-route-space="8" asp-route-id="@Model.Id">@Model.BoardSpaces[2, 2]</a>
    <br />
    <div class="alert alert-dark text-white">
        <a class="btn btn-secondary">X Wins: @Model.XWins</a>
        <a class="btn btn-secondary">O Wins: @Model.OWins</a>
        <a class="btn btn-secondary">Ties: @Model.Ties</a>
    </div>
    <br />
    <a asp-action="TicTacToeView" asp-controller="TicTacToe" class="btn btn-primary">Back</a>
    <a asp-action="ResetGame" asp-controller="TicTacToe" asp-route-id="@Model.Id" class="btn btn-warning">Reset</a>
</div>